// Only display content to screen readers
// See: http://a11yproject.com/posts/how-to-hide-content/

@mixin sr-only {
	position: absolute;

	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: none;

	clip: rect(0, 0, 0, 0);
}

// Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate

@mixin sr-only-focusable {
	&:active,
	&:focus {
		position: static;

		overflow: visible;
		width: auto;
		height: auto;
		margin: 0;

		clip: auto;
	}
}
