:root {
	--font-family-body: arial, helvetica, sans-serif;

	--font-size-xs: 0.5rem;
	--font-size-s: 0.75rem;
	--font-size-m: 1rem;
	--font-size-l: 1.5rem;
	--font-size-xl: 2rem;
	--font-size-xxl: 3rem;
}
