$font-face-body:				sans-serif;
$font-face-mono:				monospace;

$font-weight-normal:			400;
$font-weight-bold:				700;

$font-size-base:				1rem;

$font-size-s:					$font-size-base * 0.75;
$font-size-m:					$font-size-base;
$font-size-l:					$font-size-base * 1.5;
$font-size-xl:					$font-size-base * 2;
$font-size-xxl:					$font-size-base * 4;
